@using Pizzeria.Models.ViewModels;
@using Pizzeria.Models.Mongo.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <hr style="margin-top: 0px" />
        <h1 class="text-center">Menu</h1>
        <hr />
        <div class="list-group">
            @foreach (Category category in Model.categories)
            {
                <a href="#" class="list-group-item h2" data-toggle="collapse" data-target="#@category.name"> @category.name</a>
                        <div id="@category.name" class="sublinks collapse">
                            <div class="list-group-item">
                                djsljglsdfg
                            </div>
                        </div>
            }
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Order</div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>