@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Management panel</div>
            <div class="panel-body" style="padding: 0px;">
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Category</h4>
                        <div class="pull-right">
                            <a href="#addArtistModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteArtistModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Dish</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Supplement</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Location</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
