@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Menagement Page";
}

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#orders" data-toggle="tab" aria-expanded="true">Orders</a></li>
            <li class=""><a href="#categories" data-toggle="tab" aria-expanded="false">Categories</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="orders">
                <div class="panel-body" style="padding: 0px;">
                </div>
            </div>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="categories">
                <div class="panel-body" style="padding: 0px;">
                    <div class="clearfix" style="margin: 5px;">
                        <div class="pull-right">
                            <a href="/Song/CreateDraft/" class="btn btn-default">Create new</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Management panel</div>
            <div class="panel-body" style="padding: 0px;">
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Category</h4>
                        <div class="pull-right">
                            <a href="#addArtistModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteArtistModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Dish</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Supplement</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <h4 class="pull-left">Location</h4>
                        <div class="pull-right">
                            <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                            <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
